
        h1 {
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
        }


        body {
            font-size: 16px;
        }

        #amarelo {
            background-color: yellow;
        }

        #vermelho {
            background-color: red;
        }

        #marrom {
            background-color: rgba(70, 31, 31, 0.853);
        }

        li {
            line-height: 25px;
            text-align: center;
            text-decoration: underline;
        }

        p {
            font-weight: 600;
            font-size: 3em;
            font-style: italic;
        }
  