.super-mario {
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .goomba {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .baloon {
  position: relative;
  top: 100px;
  z-index: 1;
  }
  
  .speech {
    font-size: 25px;
    position: relative;
    top: 220px;
    left: 30px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position:relative;
    top: 500px;
    left: 300px;

    ;
  }